@import "~@/assets/stylesheets/foundation/helpers";

.LayoutFooter {
  background-color: $white;
  position: fixed;
  width: 100%;
  bottom: 0;
  box-shadow: $box-shadow-medium;

  &_Container {
    @extend %is-container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: $spacing-S;
    padding-bottom: $spacing-S;

    @include mq(S) {
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    @include mq(M) {
      padding-top: $spacing-M;
    }

    @include mq(L) {
      padding-top: $spacing-L;
      padding-bottom: $spacing-M;
    }

    @include mq(XL) {
      padding-top: $spacing-XL;
      padding-bottom: $spacing-L;
    }
  }

  &_LogoLink {
    margin-bottom: $spacing-XS;

    @include mq(S) {
      margin-bottom: 0;
    }
  }

  &_Copy {
    color: $grey;
    font-family: $font-family-secondary;
    font-size: $font-size-XS;
  }
}
