@import "~@/assets/stylesheets/foundation/helpers";

.LayoutDialogContainer {
  @extend %is-container;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: white;
  border-radius: $border-radius-smooth;
  box-shadow: $box-shadow-medium;
  min-height: 35vh;
  padding: $spacing-L $spacing-S;

  @include mq(M) {
    min-height: 25vh;
    padding: $spacing-L $spacing-XXL;
  }

  @include mq(L) {
    min-height: 50vh;
    padding-right: $spacing-BIG;
    padding-left: $spacing-BIG;
  }

  @include mq(XL) {
    min-height: 55vh;
    padding-right: $spacing-HUGE;
    padding-left: $spacing-HUGE;
  }
}
