@import "~@/assets/stylesheets/foundation/helpers";

.StepPaymentMethods {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $spacing-S;
  border-radius: $border-radius-smooth;
  box-shadow: $box-shadow-bottom;
  margin-bottom: $spacing-S;

  @include mq(M) {
    margin-bottom: $spacing-L;
  }

  &_Heading {
    font-family: $font-family-secondary;
    font-size: $font-size-L;
    margin-bottom: $spacing-XS;
  }

  &_Paragraph {
    text-align: center;
    font-size: $font-size-S;
    margin-bottom: $spacing-XS;
  }

  &_Image {
    &:not(:last-child) {
      margin-right: $spacing-XXS;
    }

    &Hero {
      margin-bottom: $spacing-XS;
    }

    &Container {
    }
  }

  &_CtaBlock {
    display: flex;
    flex-direction: column;

    @include mq(M) {
      width: 100%;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    &Item {
      &:not(:last-child) {
        margin-bottom: $spacing-S;
        @include mq(M) {
          margin-bottom: 0;
        }
      }
    }
  }
}

.slide-enter-active,
.slide-leave-active {
  transition: opacity 1s, transform 1s;
}

.slide-enter,
.slide-leave-to {
  opacity: 0;
  transform: translateX(-100%);
}
